* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* margin: 0; */
  padding: 0;
  overflow: hidden;
  /* overflow-x: scroll; */
}

body {
    background: #000000;
    font-family: arial, sans-serif;
  }
  
  .container {
    height: 100vh;
  }
  
.planetLabel {
  /* padding-top: 10px; */
  /* transform: translate3d(200%, 0, 0); */
  /* text-align: right; */
  color: white;
  opacity: 0.8;
  background-color: #191c20;
  border-radius: 4px;
  margin: 0.2rem;
  padding: 0.4rem;
  user-select: none;
}
